<div class="col-md-8 col-md-offset-2">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="email">Mail</label>
            <input type="email" id="email" class="form-control" formControlName="email">
        </div>

        <select class="custom-select" id="inputGroupSelect02" formControlName="typeSelected">
            <option selected disabled>Choose...</option>
            <option value="{{type.id}}" *ngFor="let type of typesArray" >{{type.name}}</option>
          </select>
        <button class="btn btn-primary" type="submit" [disabled]="!myForm.valid">Submit</button>
    </form>
</div>